<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1113863334-oor36s7ega6i0q8tcvvlqa5tjiravd2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1113863334-oor36s7ega6i0q8tcvvlqa5tjiravd2t</string>
	<key>API_KEY</key>
	<string>AIzaSyBid3pr9pUgXowZiVo4ZRuP0C-AFuGeC38</string>
	<key>GCM_SENDER_ID</key>
	<string>1113863334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pikabookNew</string>
	<key>PROJECT_ID</key>
	<string>mylingowith</string>
	<key>STORAGE_BUCKET</key>
	<string>mylingowith.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1113863334:ios:fdb6cef1e7585015353067</string>
</dict>
</plist>